<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="finals.shotefplus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Shotef Plus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/mainLabel" />
        <activity
            android:name=".EntranceActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/signUpLabel" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/search" />
        <activity
            android:name=".SearchResultsActivity"
            android:label="@string/searchResults" />
        <activity
            android:name=".InsertReceiptActivity"
            android:label="@string/insertReceipt" />
        <activity android:name=".ReceiptsActivity" />
        <activity
            android:name=".InsertPriceOfferActivity"
            android:label="@string/insertPriceOffer" />
        <activity android:name=".PriceOffersActivity" />
        <activity android:name=".ExpensesActivity" />
        <activity
            android:name=".InsertExpenseActivity"
            android:label="@string/insertExpense" />
        <activity android:name=".IncomesVsExpensesActivity" />
        <activity android:name=".ReportsActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".CustomersActivity"
            android:label="@string/customers"/>
        <activity android:name=".InsertCustomerActivity" />
        <activity android:name=".WorksActivity" />
    </application>

</manifest>